.profile-menu{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.5);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:1000;
    color: white;
}
.profile-list{
    background-color: rgb(55, 55, 55);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.profile-list p{
    font-size: 18px;
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
}