.appDownload{
    margin: auto;
    margin-top: 100px;
    font-size: max(2vw,16px);
    text-align: center;
    font-weight: 800;

    font-family: 'Poppins', sans-serif;
    color: rgb(89, 88, 88);
}
.app-download-platforms{
    display: flex;
    justify-content: center;
    gap: max(2vw,10px);
    margin-top: 40px;
}
.app-download-platforms img{
    width: max(13vw,120px);
    max-width: 180px;
    transition: 0.3 s;
    cursor: pointer;
    opacity: 0.95;
}
.app-download-platforms img:hover{
    transform: scale(1.05);
}