.explore-menu{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.explore-menu h1{
    color: rgb(59, 59, 59);
    font-weight: 500;
}
.explore-menu-text{
   max-width: 60%;
   color: #646464;
}
.explore-menu-list{
    display: flex;
    gap: 5%;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
    overflow-x: scroll;
}
.explore-menu-list-item img{
    /* min-width: 50%;          ensures image doesn't get too small */
  width: auto;   /* allows image to scale properly */
  height: auto;        /* allows image to scale properly */
    max-width: 180px;   /* ensures image doesn't get too large */
  object-fit: cover;     /* prevents stretching */
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  display: block;
  cursor: pointer;
  /* transition: 0.3s; */
}
.explore-menu-list-item p{
    margin-top: 10px;
    font-weight: 500;
    color: rgb(56, 56, 56);
    font-weight: 600;
    cursor: pointer;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.explore-menu-list::-webkit-scrollbar {
    display: none;
}
.explore-menu hr{
    margin: 10px 0px;
    border: none;
    height: 2px;
    background-color: #e0e0e0;
}
.explore-menu-list-item img.active{
    border: 4px solid #ff6f61;
    padding: 2px}