.footer-social-icons img {
height: 35px;
width: 35px;
cursor: pointer;

}
.footer-social-icons img:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
.footer-Content-Left h1{
font-family: 'Poppins', sans-serif;
font-size: 24px;
font-weight: 900;
color: rgb(240, 71, 94);
}
.footer{
    background-color: rgb(46, 45, 45);
    color: white;
    align-items: center;
    flex-direction: column;
    font: sans-serif;
    font-family:sans-serif;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top: 100px;
}
.footerContent{
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}
 .footer-Content-Center, .footer-Content-Right{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
 .footer-Content-Center li, .footer-Content-Right li{
list-style: none;
font-family: 'Poppins', sans-serif;
font-weight: 500;
font-size: 14px;
cursor: pointer;
color: rgb(157, 156, 156);
}
.footer-Content-Left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: rgb(157, 156, 156);
}
.footer p{
    color: rgb(157, 156, 156);
    align-items: center;
    flex-direction: column;
    display: flex;
    font-size: 14px;
padding-top: 20px;}
.footer hr{
    border: 0.5px solid rgb(80, 79, 79);
    width: 100%;
    margin-top: 20px;
}
@media(max-width:900px){
    .footerContent{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .footer-Content-Left, .footer-Content-Center, .footer-Content-Right{
        align-items: center;
    }
}