.loginpopup{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:1000;
}
.login-popup-container{
    background-color:#fff;
    padding:20px;
    border-radius:8px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
    width:300px;
    position:relative;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.login-popup-container .cross-icon{
    position:absolute;
    top:10px;
    right:10px;
    cursor:pointer;
    height: 17px;
}
.login-popup-container h2{
    margin-bottom:20px;
    font-size:21px;
    text-align:center;
    color: rgb(55, 55, 55);
    font-family: sans-serif;
    font-weight: 700;
}
.login-popup-inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login-popup-inputs input{
    outline: none;
    border:1px solid rgb(128, 126, 126);
    padding: 10px;
    border-radius: 4px;
}
.login-popup-container button{
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: rgb(240, 71, 94);
    font-size: 15px;
    width: 100%;
    cursor: pointer;
    gap: 10px;
}
.login-popup-condition{
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: 10px;
    color:rgb(50, 49, 49);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 14px;
}
.login-popup-condition input{
    margin-top: 5px;
}
.login-popup-container p{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(50, 49, 49);
    font-size: 13px;
}
.login-popup-container p span{
    color: rgb(240, 71, 94);
    cursor: pointer;
}
